:host {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
  z-index: 200;
  background-color: white;
  height: 100vh;
  transition: transform 0.2s;
}

:host:hover {
  transform: translateX(0);
}

.ribbon {
  position: absolute;
  top: 60px;
  transform: translateX(-100%);
  background-color: white;
  padding: 10px;
  box-shadow: -3px 0px 5px -3px rgba(0, 0, 0, 0.75);
  border-radius: 2px 0 0 2px;
}

.history-item {
  cursor: pointer;
}

.history-item:hover {
  background-color: #3b85e550;
}

.board {
  cursor: pointer;
  display: inline-block;
  margin-top: 0;
}

.row {
  margin-bottom: 0.2px;
  height: 10px;
}

.cell {
  display: inline-block;
  width: 10px;
  height: 100%;
  border: 0.2px solid black;
  margin-right: -0.2px;
}

.current {
  background-color: deepskyblue;
}

.seen {
  background-color: yellowgreen;
}

.start {
  background-color: green;
}

.search {
  background-color: red;
}

.details {
  display: inline-block;
  vertical-align: top;
}
