:host {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 600px;
  justify-content: space-around;
  white-space: nowrap;
  padding: 10px;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  border-radius: 0 0 2px 2px;
  opacity: .2;
  transition: opacity .2s;
}

:host:hover {
  opacity: 1;
}

select, input, button {
  height: 30px;
  border-radius: 2px;
  margin: 0 2px;
  padding: 5px 15px;
  cursor: pointer;
}

select, input {
  box-sizing: border-box;
  background-color: none;
  border: 1px solid #888;
  outline: none;
}

input {
  width: 50px;
  cursor: auto;
}

input.hardness {
  width: 70px;
}

input.speed {
  padding: 0;
}

button {
  border: none;
}

button.primary {
  background-color: #3B84E5;
  color: white;
}