<div class="row upper">
  <div class="dimensions">
    <input type="text" [ngModel]="nRows" (input)="nRowsChange.emit($event.target.value)" [disabled]="running">
    x
    <input type="text" [ngModel]="nCols" (input)="nColsChange.emit($event.target.value)" [disabled]="running">
  </div>
  <select [ngModel]="algorithm" (change)="algorithmChange.emit($event.target.value)" [disabled]="running">
    <option value="dfs">dfs</option>
    <option value="bfs">bfs</option>
    <option value="dijkstra">dijkstra</option>
    <option value="aStar">aStar</option>
  </select>
  <input class="hardness" type="text" [ngModel]="hardness" (input)="hardnessChange.emit($event.target.value)" [disabled]="running">
</div>

<div class="row lower">
  <input class="speed" type="range" min="0" max="990" [ngModel]="speed" (input)="speedChange.emit($event.target.value);">
  <div class="buttons">
    <button class="primary" (click)="runningChange.emit(!running)">{{!running ? 'Start' : 'Stop'}}</button>
    <button (click)="updateBoard.emit()" [disabled]="running">Reset</button>
    <button (click)="clearBoard.emit()" [disabled]="running">Clear</button>
  </div>
</div>